XML/Schema_Address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root element -->
  <xs:element name="student">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="age" type="xs:integer"/>
        <xs:element name="course" type="xs:string"/>
        
        <!-- Nested element: address -->
        <xs:element name="address">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="street" type="xs:string"/>
              <xs:element name="city" type="xs:string"/>
              <xs:element name="pincode" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      
      <!-- Attributes -->
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="year" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
