XML/Schema_Book1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Defining the root element -->
  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <!-- Child elements inside book -->
        <xs:element name="title" type="xs:string"/>
        <xs:element name="author" type="xs:string"/>
        <xs:element name="price" type="xs:decimal"/>

        <xs:element name="publisher">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="city" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="isbn" type="xs:int" use="required" />
      <xs:attribute name="edition" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>