XML/Schema_Library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root element -->
  <xs:element name="library">
    <xs:complexType>
      <xs:sequence>
        <!-- At least one book -->
        <xs:element name="book" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title" type="xs:string"/>
              <xs:element name="author">
                <xs:complexType mixed="true">
                  <xs:attribute name="aid" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="publisher" type="xs:string" minOccurs="0"/>
              <xs:element name="category" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Zero or more members -->
        <xs:element name="member" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="id" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
