XML/Schema_ Employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root element -->
  <xs:element name="employee">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="designation" type="xs:string"/>
        <xs:element name="salary" type="xs:decimal"/>

        <!-- Nested element: contact -->
        <xs:element name="contact">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="email" type="xs:string"/>
              <xs:element name="phone" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>

      <!-- Attributes -->
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="department" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
