XML/Schema_Student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<XS:schema xmlns:XS="http://www.w3.org/2001/XMLSchema">
    <XS:element name="Student">
        <XS:complexType>
            <XS:sequence>
                <XS:element name="name" type="XS:string"/>
                <XS:element name="age" type="XS:integer"/>
                <XS:element name="course" type="XS:string"/>
            </XS:sequence>
        </XS:complexType>
    </XS:element>
</XS:schema>
    