XML/Union.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="data">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="value" type="numberOrString"/>
            <xs:element name="numbers" type="integerlist"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:simpleType name="numberOrString">
    <xs:union memberTypes="xs:integer xs:string"/>
</xs:simpleType>

<xs:simpleType name="integerlist">
    <xs:list itemType="xs:integer"/>
</xs:simpleType>
</xs:schema>